



# models I don't own
art/vendor

# exported from from blender files
assets/models

# ignore .blend1 files
*.blend*
!*.blend

*.kra~
*.spv

# Builds, release and dev
releases


# git clones, dependencies
extern



# IDE stuff
ols.json
.vscode
*.code-workspace

# Binaries
int
*.o
*.a
*.so
*.out

*.obj
*.lib
*.dll
*.exe
*.ilk
*.exp
*.pdb

*.log

__pycache__