# This project's intermediate files
bin
# git clones, dependencies
extern

# IDE stuff
ols.json
.vscode
*.code-workspace

# Binaries
*.o
*.dll
*.so
*.bin
*.exe
*.lib
*.exp
*.a
*.pdb
*.exp

# Game related
spells
